{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Flasktodo{% else %}What to do?{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-dark bg-primary">
        <h1>FlaskToDo</h1>
        <a class="btn btn-primary" href="{{ url_for('home.login') }}">Log In</a>
        <a class="btn btn-success" href="{{ url_for('home.register') }}">Register</a>
        <a class="btn btn-primary" href="{{ url_for('home.logout') }}">Log Out</a>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

    </div>
    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
{% endblock %}